body {
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-color: hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 25%;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}

main {
    margin: 10% auto; 
    width: 1100px;
    display: grid;
    grid-template-areas:
    'header ratings'
    'flex-cards flex-cards';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 275px 275px;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 7em;
}

h1 {
    color: hsl(300, 43%, 22%);
    font-size: 3em;
    margin: 0;
}

header p {
    color: hsl(303, 10%, 53%);
}

p {
    line-height: 1.5em;
}

.ratings {
    grid-area: ratings;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

#rating-1, #rating-2, #rating-3 {
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    border-radius: 5px;
    font-weight: 700;
    padding: 1em 3em;
}

#rating-1 {
    align-self: flex-start;
}

#rating-2 {
    align-self: center;
}

#rating-3 {
    align-self: flex-end;
}

.rating-text {
    padding-left: 1em;
}

.flex-cards {
    grid-area: flex-cards;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5em;
}

.card {
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    padding: 1.5em 1.5em;
    width: 300px;
}

.card:hover {
    box-shadow: 0.5em 0.5em 0.5em #666;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

#card-1 {
    align-self: flex-start;
}

#card-2 {
    align-self: center;
}

#card-3 {
    align-self: flex-end;
}

.card-header img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.name, .verified {
    line-height: 0.5em;
}

.name {
    font-weight: 700;
}

.verified {
    color: hsl(333, 80%, 67%);
    font-weight: 300;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 1365px) {
    .#card-1 {
      
    }
  }